.cart-btn{
    background-color: red;
    color: white;
    height: 48px;
    font-size: 27px;
}

.selected{
    color: red;
}

.notSelected{
    color: black;
}

.ml-1 {
    margin-left: 10px !important;
  }

.btn-red{
    color: white;
    background-color: red;
}
.flt-right{
    float: right;
}

.quant{
    float: right;
    margin-right: 36px;
}