.cart-btn{
    background-color: red;
    color: white;
    height: 48px;
    font-size: 27px;
}

.selected{
    color: red;
}

.notSelected{
    color: black;
}

.quant{
    float: right;
    margin-right: 36px;
}