<h2 class="text-center">Menu</h2>
<div class="row mb-5">
    <div class="col-lg-4 col-sm-2" *ngIf="isMenu">
        <h2 class="text-center">Categories</h2>
        <div class="row">
            <div *ngFor="let el of data" class="col-2">
                <h6 (click)="select(el.category)" 
                [ngClass]="selectCategory == el.category?'selected':'notSelected'">{{el.category}}</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-2 h2 text-center" *ngIf="isCart">
        <h2>Select Items</h2>
        <div *ngFor="let el of cart">
            {{el.it.name}}.....{{el.count}}x{{el.it.price}}
        </div>
            <div>
            Total ............................{{total}}
            </div>
    </div>
    <div class="col-lg-4 col-sm-4" *ngIf="isMenu">
        <div *ngFor="let el of data">
            <div *ngIf="selectCategory == el.category">
                <!-- <h4 class="text-center">{{el.category}}</h4> -->
                <div class="card mt-2" *ngFor="let item of el.items">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <h5 class="card-title">{{item.name}}</h5>
                                <p class="card-text h6">{{item.price}}</p>
                                <p class="card-text">{{item.description}}</p>
                                <a class="btn btn-primary" (click)="add(item)">Add</a>
                            </div>
                            <div class="col-4">
                                <img src="../../app/shared/big-hamburger-with-double-beef-french-fries_252907-8.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="fixed-bottom cart-btn " (click)="selectPage('cart')" *ngIf="isMenu">
            <p>Cart <span class="quant">{{itemCount}}</span></p>
        </div>
        <div class="fixed-bottom cart-btn " (click)="selectPage('menu')" *ngIf="isCart">
            <p>Menu</p>
        </div>
    </div>
    <div class="col-4"></div>
</div>